@media only screen and (max-width: 768px) {
  html {
    text-align: center;
  }

  body {
    overflow-x: hidden;
  }

  hr {
    border: 1px solid #fbc38e;
    width: 80%;
    margin: 2rem auto;
  }

  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  p {
    font-size: 1.5rem;
  }

  header {
    padding: 1rem 5%;
    position: sticky;
    background-color: #121212;
    top: 0;
    z-index: 99;
    border-bottom: 2px solid #313131;
  }

  .nav_links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbc390;
    width: 45%;
    transform: translateX(100%);
  }

  .nav_links li {
    opacity: 0;
  }

  .cta {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fbc38e;
    margin: 5px;
  }

  li,
  a,
  button {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }

  .logo {
    width: 120px;
    cursor: pointer;
  }

  .main_heading {
    font-size: 3rem;
  }
  .headerContainer {
    margin: 2rem;
    margin-top: 20vh;
  }

  .btn-primary {
    color: #000;
    background-color: #fbc38e;
    border: 3px solid #fbc38e;
    padding: 5px 5%;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.3s;
  }

  .btn-secondary {
    color: #fbc38e;
    background-color: #000;
    border: 3px solid #121212;
    padding: 5px 5%;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.3s;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  .btn-primary:active {
    background-color: #ad8661;
    border-color: #ad8661;
  }

  #about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 35vh;
  }

  .about_me_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #fbc38e;
  }

  .profilePicContainer {
    width: 55%;
    height: 48vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -35%;
    border: 6px solid #121212;
  }

  .profilePicture {
    position: absolute;
    display: inline;
    margin: 0 auto;
    height: 142%;
    width: auto;
    left: -5px;
    top: -20%;
  }

  #about_me p {
    color: #000;
    margin-top: 1.2rem;
  }

  #about_me h2,
  .dark_span {
    color: #000;
  }
  #about_me h2,
  span {
    margin-top: 1.2rem;
  }

  .projectBtn {
    margin: 2rem;
  }

  #projects_section {
    margin: 2rem 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .projects_heading {
    margin-top: 5rem;
  }

  .projectWrapper {
    width: 90vw;
    flex: none;
    scroll-snap-align: start;
  }

  .projectWrapper h2 {
    text-decoration: underline px solid #fbc38e;
  }

  .project {
    padding: 0.5rem;
position: relative;
    border-radius: 10px;
    width: 95%;
    margin: 0 30px;
    height: 13rem;
    background: #fbc38e;
  }
  .project h3,
  .project p {
    color: #000;
  }

  .project a {
    color: #000;
    text-decoration: underline 3px #000;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .underline {
    position: relative;
  }

  .underline::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    animation: underline_anim 0.5s 1s ease-in-out forwards;
  }

  .light_span::after {
    background-color: #fbc38e;
  }

  @keyframes underline_anim {
    to {
      width: 100%;
    }
  }
}
