@media screen and (min-width: 769px) {
  header {
    padding: 20px 10%;
    position: sticky;
    background-color: rgba(18, 18, 18, 0.95);
    top: 0;
    z-index: 99;
  }

  button:hover {
    background-color: rgba(251, 195, 142, 0.7);
    border-color: rgba(251, 195, 142, 0.7);
  }

  h2 {
    font-size: 2.8rem;
  }

  .logo {
    cursor: pointer;
    width: 160px;
  }

  .nav_links li {
    list-style: none;
    padding: 0 20px;
  }

  .nav_links li a {
    transition: all 0.3 ease 0s;
  }

  .nav_links li a:hover {
    color: #fbc390;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .link_underline {
    position: relative;
  }

  .link_underline::after {
    content: "";
    position: absolute;
    background-color: #fbc38e;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }

  .link_underline:hover::after {
    width: 100%;
  }

  button {
    padding: 8px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .btn-primary {
    color: #000;
    background-color: #fbc38e;
    border: 3px solid #fbc38e;
  }

  .btn-primary:hover {
    color: #000;
    background-color: rgba(251, 195, 142, 0.7);
    border: 3px solid rgba(251, 195, 142, 0.7);
  }
  .projectBtn {
    margin-top: 2rem;
  }

  .headerContainer {
    margin-top: 28vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
  }

  .main_heading {
    font-size: 6rem;
    font-weight: 600;
  }

  .subtitle {
    font-size: 3rem;
  }

  #projects_section {
    /*display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        */
    display: flex;
    justify-content: center;
    border-radius: 40px;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
  }


  .projects_heading{
      margin: 5rem 0;
      display: flex;
      justify-content: center;
  }

  .underline {
    position: relative;
  }

  .underline::after {
    content: "";
    position: absolute;
    background-color: #121212;
    height: 6px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    animation: underline_anim 0.5s 1s ease-in-out forwards;
  }

  .light_span::after {
    background-color: #fbc38e;
  }
  
  .project {
    position: relative;
    border-radius: 20px;
    width: 25rem;
    height: 15rem;
    padding: 2rem;
    margin: 1rem;
    text-align: left;
    font-size: 1.2rem;
    background: #fbc390;
    transition: transform 500ms ease;
    box-shadow: 5px 5px 10px#fbc38e00;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .project:hover {
    transform: scale(1.05);
}

.btn-secondary {
    color: #121212;
    background-color: transparent;
    border: 3px solid #121212;
    padding: 5px 5%;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.3s;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }

  .proj_anchor {
    color: #121212;
    text-decoration: underline 3px #121212;
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
  }

.project h3 {
    font-weight: 600;
    text-decoration: underline #121212 3px;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.project a {
    margin: 15px 10px;
    font-size: 1.1rem;
}

.project h3, .project p, .project a{
      color: #121212;
  }

  .flex-svg-container {
    justify-content: center;
    margin: 0.7rem 0;
  }

  .flex-svg-container svg {
    margin: 0;
  }

  #about_me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 33vh;
    background-color: #fbc38e;
  }

  .about_me_wrapper {
    display: flex;
    align-items: center;
    padding: 5rem 0;
    width: 85%;
    justify-content: space-around;
  }

  .textWrapper {
    text-align: left;
    margin-left: 10rem;
  }

  .profilePicContainer {
    width: 20rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #121212;
    flex-shrink: 0;
  }

  .profilePicture {
    position: absolute;
    display: inline;
    margin: 0 auto;
    height: 142%;
    width: auto;
    left: -5px;
    top: -20%;
  }

  #about_me p {
    color: #000;
    margin: 1.2rem;
    font-size: 1.8rem;
  }

  #about_me h2,
  .dark_span {
    color: #121212;
  }
  #about_me h2,
  span {
    margin-top: 1.2rem;
  }

  @keyframes underline_anim {
    to {
      width: 100%;
    }
  }
}
