@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;900&family=Nova+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #121212;
  scroll-behavior: smooth;
}

li,
a,
button {
  font-weight: 500;
  font-size: 1.3rem;
  color: #edf0f1;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradientHeader {
  background-image: linear-gradient(
    to right,
    #e7d6cf,
    #fbc390,
    #9fe9ff,
    #99b5ee
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -300%;

  -webkit-animation: animatedText 2s infinite alternate-reverse;
  -moz-animation: animatedText 2s infinite alternate-reverse;
  -o-animation: animatedText 2s infinite alternate-reverse;
  animation: animatedText 2s infinite alternate-reverse;
}

@-webkit-keyframes animatedText {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

@-moz-keyframes animatedText {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

@-o-keyframes animatedText {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

@keyframes animatedText {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}
